#nprogress .bar {
    height: 4px;
    @apply bg-tert-500;
}

#nprogress .peg {
    @apply shadow-tert-500 shadow-inner;
}

#nprogress .spinner {
    top: 50%;
    left: 50%;
    @apply -translate-x-1/2 -translate-y-1/2 transform-gpu;
}

#nprogress .spinner-icon {
    margin: auto;
    @apply animate-spinBounce transform-gpu border-t-tert-500 border-r-transparent border-b-transparent border-l-tert-500;
}
